.range-form-atom {
  position: relative;
  padding: 0px 30px;
}
.range-form-atom__icon {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-size: 20px;
  position: absolute;
  top: 9px;
  color: rgba(0, 0, 0, 0.25);
}
.range-form-atom__icon:first-child {
  left: 0;
}

.range-form-atom__icon:last-child {
  right: 0;
}
.range-form-atom__display{
  display: block;
  clear: both;
}
