.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
  /*
  height: 100vh;
  padding: 16px;
  overflow-y: auto;
  background: url('../../images/bg-desktop.png') top center;
  background-size: cover;
  background-attachment: fixed;*/
}
@media screen and (min-width: 600px) {
  .home{
  justify-content: center;
  }
}
.home__teaser-container {
  transition: background 0.2s  ease-in-out;
  animation: slide-up 0.4s ease;
  padding: 16px;
  background: #11182d;
  color: white !important;
  border-radius: 4px;
  width: auto;
  margin: 16px auto 24px auto;
}
.home__teaser {
  color: white !important;
  margin-bottom: 0 !important;
}
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}