@primary-color: #81d8d0; // primary color for all components
@link-color: #06c1d7; // link color
@success-color: #81d88d; // success state color
@warning-color: #d8d281; // warning state color
@error-color: #d881aa; // error state color
@font-size-base: 14px; // major text font size
@heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: rgba(0, 0, 0, 0.65); // major text color
@text-color-secondary: #3a3c48; // secondary text color
@disabled-color: #3a3c48b4; // disable state color
@border-radius-base: 4px; // major border radius
@border-color-base: #3a3c48; // major border color
@box-shadow-base: 0 2px 8px #3a3c48; // major shadow for layers
