.card-atom {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0 auto;
}
@media screen and (min-width: 700px) {
  .card-atom {
    width: 700px;
  }
}
.card-atom_centered {
  width: 100%;
  display: flex;
  justify-content: center;
}
.card-atom_3-4::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: 129.411764706%;
}
.card-atom_3-4::after { /* to clear float */
  content: "";
  display: table;
  clear: both;
}
