.cover-title-atom {
  width: 100%;
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 16px !important;
  margin-bottom: 24px !important;
}
@media screen and (max-width: 600px) {
  .cover-title-atom {
  font-size: 50px;
  line-height: 50px;
}
}
@media screen and (max-width: 480px) {
  .cover-title-atom {
  font-size: 48px;
  line-height: 48px;
}
}