@import '~antd/dist/antd.css';

.App {
    width: 100%;
  height: 100vh;
  padding: 34px 16px;
  overflow-y: auto;
  background: url('images/bg-desktop.png') top center;
  background-size: cover;
  background-attachment: fixed;
}

